<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box">
        <h1>REGISTER</h1>
        
        <!--the action is used to make route. when submit is hit the server goes to 'contact' with info provided -->
        <form  method="post">
            <input class="in" name="name" type="text" placeholder="Name" >
            <input class="in" name="email" type="email" placeholder="E-mail" >
            <input class="in" name="password" type="password" placeholder="Password" >
            <button id="btn" type="submit">Register</button>
        </form>
    </div>
</body>
</html>